__pycache__/
kafka/logs/
logs/
data/
analyses/
kafka/kafka?/
kafka/zookeeper?/
use-cases/app-testing/fraud-detection/training.csv
use-cases/app-testing/maritime-monitoring/Kafka-MySQL-user-manual.odt
use-cases/app-testing/word-count/input-chain.graphml
use-cases/reproducibility/networkTrafficAnalysis/__pycache__/
use-cases/reproducibility/networkTrafficAnalysis/logs/
use-cases/disconnection/millitary-coordination/logs
use-cases/disconnection/millitary-coordination/scripts/
use-cases/reproducibility/networkTrafficAnalysis/input-temporary.graphml
use-cases/app-testing/millitary-coordination/3-node-scenario/
use-cases/app-testing/millitary-coordination/logs/
use-cases/app-testing/millitary-coordination/input-temp.graphml
use-cases/app-testing/millitary-coordination/topicConfiguration-temp.yaml
use-cases/app-testing/word-count/input-temp.graphml
use-cases/app-testing/sentiment-analysis/input-temp.graphml
use-cases/varying-networking-conditions/varying-link-latency/word-count/testbedResults
use-cases/varying-networking-conditions/varying-link-latency/word-count/simulationResults
ex1.py