__pycache__/
kafka/logs/
logs/
data/
analyses/
kafka/kafka?/
kafka/zookeeper?/
tests/input/
use-cases/app-testing/fraud-detection/training.csv
use-cases/app-testing/maritime-monitoring/maritime-mysql-bulk-sink.properties
use-cases/reproducibility/networkTrafficAnalysis/__pycache__/
use-cases/reproducibility/networkTrafficAnalysis/logs/
use-cases/disconnection/millitary-coordination/logs
use-cases/disconnection/millitary-coordination/scripts/
use-cases/reproducibility/networkTrafficAnalysis/input-temporary.graphml
use-cases/app-testing/millitary-coordination/
use-cases/app-testing/document-analytics/input-temp.graphml
use-cases/app-testing/document-analytics/yamlConfig/consumerConfigurationHost1.yaml
use-cases/app-testing/document-analytics/yamlConfig/consumerConfigurationHost2.yaml
use-cases/app-testing/document-analytics/yamlConfig/consumerConfigurationHost3.yaml
use-cases/app-testing/sentiment-analysis/input-temp.graphml
use-cases/varying-networking-conditions/varying-link-latency/word-count/testbedResults/
use-cases/varying-networking-conditions/varying-link-latency/word-count/testbedScripts/
use-cases/varying-networking-conditions/varying-link-latency/word-count/simulationResults/
use-cases/varying-networking-conditions/varying-link-latency/word-count/simulationScripts/
use-cases/varying-networking-conditions/varying-link-latency/word-count/MFSTDataDir/
use-cases/varying-networking-conditions/varying-link-latency/word-count/input-temp.graphml
use-cases/varying-networking-conditions/varying-link-latency/word-count/yamlConfig/producerConfiguration-temp.yaml
tempScript.py